@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.eot');
    src: url('Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather-Regular.woff2') format('woff2'),
        url('../fonts/Merriweather-Regular.woff') format('woff'),
        url('../fonts/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-Regular.eot');
    src: url('Cabin-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cabin-Regular.woff2') format('woff2'),
        url('../fonts/Cabin-Regular.woff') format('woff'),
        url('../fonts/Cabin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



