@media (min-width:300px) and (max-width:750px) {
    .search-icon {
        display: flex;
        justify-content: right;
    }

    .search-icon1 {
        margin-right: 10px;
    }

    .ul {
        display: none;
    }

    .header-box2 {
        display: flex;
        justify-content: end;
    }

    .burger {
        display: block;
        width: 23px;
        height: 23px;
    }

    .ul.newUl {
        display: none;
    }

    .ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 150px;
        margin-top: 80px;
    }

    .navigation1:hover {
        border-bottom: 2px solid #CDA274;
    }

    .navigation1 {
        transition: all;
        transition-duration: 0.2;
        color: black;
    }

    .navigation {
        text-align: right;
    }
}