@media (min-width:300px) and (max-width:750px) {
    .search-icon {
        /* background-color: blue; */
        display: flex;
    }

    .ul {
        display: none;
    }

    .header-box2 {
        /* justify-content: end; */
    }

    .burger {
        display: block;
        width: 23px;
        height: 23px;
    }

    .search-icon1 {
        margin-right: 10px;
    }

    .ul.newUl {
        display: block;
    }

    .ul {
        flex-direction: column;
        /* justify-content: space-between; */
        height: 150px;
        margin-top: 65px;
        right: ;
    }
    .navigation {
        /* margin-left: 250px; */
        width: 100%;
        height: 24px;
    }
    .navigation:hover {
        border-bottom: 1px solid black ;
       
    }
}