.body {
    background-color: #FFFFFF;
}

.header {
    max-width: 1210px;
    min-height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.header-box2 {
    display: flex;
    max-width: 638px;
    width: 100%;
    position: absolute;
    top: 12.5px;
    right: 0;
}

.ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width: 586px;
    height: 25px;
    position: absolute;
}

.navigation {
    width: 58px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #141414;
    font-family: 'Open Sans';
    transition: all;
    transition-duration: 0.2s;
}
.navigation:hover {
    color: #CDA274;
}

.search-icon {
    margin-left: 20px;
    transition: all;
    transition-duration: 0.2s;
    position: absolute;
    top: 0;
    right: 0;
}
.search-icon:hover {
    stroke: #CDA274;
}
.burger {
    display: none;
}
.search {
    max-width: 300px;
    width: 100%;
    display: flex;
    margin: auto;
}

/* ! section-1 */
.section-1 {
    margin-top: 154px;
}

.section1-box {
    max-width: 1210px;
    height: 758px;
    background-image: url(../image/Rectangle1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: auto;
}

.section1-h2 {
    font-size: 65px;
    color: #FFFFFF;
    line-height: 125%;
    font-weight: 500;
    max-width: 699px;
    min-height: 162px;
    font-family: 'Cabin';
    text-align: left;
    padding-top: 73px;
    padding-left: 24px;
}

.section1-pharagrap {
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 1%;
    color: #FFFFFF;
    max-width: 470px;
    min-height: 66px;
    padding-top: 9px;
    padding-left: 24px;
    font-family: 'Merriweather';
}

.section1-Get-Started {
    max-width: 227.14px;
    min-height: 75px;
    background-color: #CDA274;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 2%;
    font-weight: 500;
    font-family: 'Open Sans';
    border: none;
    width: 100%;
    border-radius: 18px;
    margin-top: 28px;
    margin-left: 25px;
    transition: all;
    transition-duration: 0.4s;

}
.section1-Get-Started:hover {
    box-shadow: 10px 10px 20px;
}
.section1-arrow {
    margin-left: 10px;
}
/* ! section2 */
.section2-main-box {
    max-width: 1155px;
    min-height: 225px;
    width: 100%;
    margin: auto;
    margin-top: 95px;
    display: flex;
    justify-content: space-between;

}
.section2-box-son {
    max-width:358px;
    min-height: 225px;
    text-align: center;
}
.section2-h3 {
    font-family: 'Cabin';
    font-size: 25px;
    line-height: 125%;
    color: #292F36;
    font-weight: 500;
}
.section2-pharagrp {
    font-family: 'Merriweather';
    color: #4D5053;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 1%;
    margin-top: 20px;
}
.read-more {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 52px;
    color: #000000;
    border-radius: 18px;
    transition: all;
    transition-duration: 0.4s;
    font-family: 'Open Sans';
}
.read-more:hover {
    box-shadow: 10px 10px 20px;
}
.section2-arrow {
    margin-left: 10px;
}