.body {
  background-color: #ffffff;
}

.header {
  max-width: 1210px;
  min-height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-box2 {
  display: flex;
  max-width: 638px;
  width: 100%;
}

.ul {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  max-width: 586px;
}

.navigation {
  width: 58px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #141414;
  font-family: "Open Sans";
  transition: all;
  transition-duration: 0.2s;
}

.navigation:hover {
  color: #cda274;
}

.search.newsearch {
  display: none;
}

.search-icon {
  display: flex;
  transition: all;
  transition-duration: 0.2s;
}

.search-icon:hover {
  stroke: #cda274;
}

.burger {
  display: none;
}

.search {
  max-width: 300px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.navigation1 {
  color: #000000;
}

.search3 {
  outline: none;
}

/* ! section-1 */
.section-1 {
  margin-top: 195px;
}

.section1-box {
  max-width: 1210px;
  height: 758px;
  background-image: url(../image/Rectangle1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: auto;
}

.section1-h2 {
  font-size: 65px;
  color: #ffffff;
  line-height: 125%;
  font-weight: 500;
  max-width: 699px;
  min-height: 162px;
  font-family: "Cabin";
  text-align: left;
  padding-top: 73px;
  padding-left: 24px;
}

.section1-pharagrap {
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 1%;
  color: #ffffff;
  max-width: 470px;
  min-height: 66px;
  padding-top: 9px;
  padding-left: 24px;
  font-family: "Merriweather";
  width: 100%;
}

.section1-Get-Started {
  max-width: 227.14px;
  min-height: 75px;
  background-color: #cda274;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 2%;
  font-weight: 500;
  font-family: "Open Sans";
  border: none;
  width: 100%;
  border-radius: 18px;
  margin-top: 28px;
  margin-left: 25px;
  transition: all;
  transition-duration: 0.4s;
}

.section1-Get-Started:hover {
  box-shadow: 10px 10px 20px;
}

.section1-arrow {
  margin-left: 10px;
}

/* ! section2 */
.section2-main-box {
  max-width: 1155px;
  min-height: 225px;
  width: 100%;
  margin: auto;
  margin-top: 95px;
  display: flex;
  justify-content: space-between;
}

.section2-box-son {
  max-width: 358px;
  min-height: 225px;
  text-align: center;
}

.section2-h3 {
  font-family: "Cabin";
  font-size: 25px;
  line-height: 125%;
  color: #292f36;
  font-weight: 500;
}

.section2-pharagrp {
  font-family: "Merriweather";
  color: #4d5053;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 1%;
  margin-top: 20px;
}

.read-more {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 52px;
  color: #000000;
  border-radius: 18px;
  transition: all;
  transition-duration: 0.4s;
  font-family: "Open Sans";
}

.read-more:hover {
  box-shadow: 10px 10px 20px;
}

.section2-arrow {
  margin-left: 10px;
}
/* ! section 3 */
.section-3-mine-box {
  max-width: 1210px;
  min-height: 700px;
  width: 100%;
  margin: auto;
  margin-top: 154px;
  background-color: #b17777;
  border-radius: 29% 71% 100% 0% / 0% 100% 0% 100%;
  background-image: url(../image/Frame2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.section-3-h3 {
  font-size: 55px;
  font-weight: 500;
  line-height: 125%;
  font-family: "Cabin";
  color: #ffffffff;
  max-width: 388px;
  min-height: 135px;
  width: 100%;
  text-align: left;
  padding-top: 139px;
  padding-left: 25px;
}
.section-3-pharagarap {
  font-size: 22px;
  line-height: 150%;
  color: #ffffff;
  text-align: left;
  font-family: "Merriweather";
  font-weight: 500;
  max-width: 354px;
  min-height: 96px;
  padding-top: 20px;
  padding-left: 25px;
  width: 100%;
}
.section-3-son-box {
  max-width: 277px;
  min-height: 93px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 25px;
}
.section-3-icon-box {
  max-width: 93px;
  height: 93px;
  width: 100%;
  background-color: #ffffff;
  display: grid;
  place-items: center;
  border-radius: 100%;
}
.section-3-icon {
  object-fit: cover;
  width: 100%;
  max-width: 32px;
  height: 32px;
}
.section-3-contact {
  max-width: 169px;
  min-height: 64px;
  width: 100%;
  display: grid;
  place-items: center;
}
.section-3-phone {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 150%;
  color: #ffffff;
  font-family: "Merriweather";
}
.section-3-pharagrap-2 {
  font-family: "Merriweather";
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 150%;
  font-weight: 500;
}
.section-3-Get-FreeEstimate {
  background-color: #cda274;
  max-width: 247px;
  min-height: 75px;
  width: 100%;
  border-radius: 18px;
  font-family: "Open Sans";
  border:none;
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 125%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 47px;
  margin-left: 25px;
  transition: all;
  transition-duration: 0.3s;
}
.section-3-Get-FreeEstimate:hover {
  box-shadow: 10px 10px 20px;
}
.section-3-vector {
  margin-left: 10px;
}
/* ! section-4 */
.section-4-main {
  max-width: 1210px;
  min-height: 679px;
  background-color:#D8A876 ;
  border-radius: 22px;
  margin: auto;
  margin-top: 209px;
  /* display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}
.section-4-h4 {
  max-width: 547px;
  min-height: 126px;
  color: #FFFFFF;
  font-size: 50px;
  letter-spacing: 125%;
  text-align: center;
  font-family: "Cabin";
  font-weight: 500;
  padding-top: 88px;
  margin: auto;
  border-bottom: 2px solid rgb(231, 227, 221);
}
.section-4-mother-box {
  max-width: 1150px;
  min-height: 339px;
  width: 100%;
  background-color: #ffffff;
  margin: auto;
  margin-top: 38px;
}